@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f8f8fb;
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

.container-background {
    height: 430px;
    background-color: #510fa8;/*#384459*/
    border-bottom-left-radius: 2.5rem;
}

.a2system-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


#sales p {
    color: #000;
    display: flex;
    justify-content: center;
}