.container-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.container-padding p {
    color: #fff;
}

.welcome {
    display: none;
}

/*Card+Info*/
.container-header {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Card Info*/
.container-info {
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a2system-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a2system-logo-container img {
    width: 200px;
}

.a2system-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

.a2system-logo-container p {
    font-size: 35px;
    font-weight: 300;
}

@media (min-width: 992px) {
    .welcome {
        font-size: 50px;
        display: table-caption;
    }
    .container-header {
        justify-content: space-between;
    }
}